NODE_ENV=
PORT=
BCRYPT_SALT=
FRONT_END_BASE_URL=
BACK_END_BASE_URL=
JWT_ACCESS_SECRET=

RESET_PASS_ACCESS_SECRET=
JWT_REFRESH_SECRET=
INVITE_SECRET=
JWT_ACCESS_EXPIRES_IN=
FORGET_PASS_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
INVITE_EXPIRES_IN=


DATABASE_URL=